**/.vs/
**/*.user
**/*.suo
**/*.db
**/*.ipch
**/DocumentLayout.json
**/DocumentLayout.backup.json
**/.dtbcache
**/storage.ide*
**/Debug/
**/Release/
**/x64/
**/x86/
**/*.exe
**/*.ilk
**/*.pdb
**/*.obj
**/*.idb
**/*.log
**/*.tlog/
**/*.recipe
**/bin/
**/obj/
**/*.cache
**/*.csproj.AssemblyReference.cache
**/*.csproj.CoreCompileInputs.cache
**/*.csproj.FileListAbsolute.txt
**/TemporaryGeneratedFile_*.cs
.DS_Store
Thumbs.db
